ZEROXKEY_API_PUBLIC_KEY="<ZeroXKey API Public Key (that starts with 02 or 03)>"
ZEROXKEY_API_PRIVATE_KEY="<ZeroXKey API Private Key>"
ZEROXKEY_BASE_URL="https://api.0xkey.com"
ZEROXKEY_ORGANIZATION_ID="<ZeroXKey organization ID>"
ZEROXKEY_SIGNER_PUBLIC_KEY="<ZeroXKey signing public key>"
STACKS_RECIPIENT_ADDRESS="<Stacks recipient address>"