ZEROXKEY_API_PUBLIC_KEY="<ZeroXKey API Public Key of the root user (that starts with 02 or 03)>"
ZEROXKEY_API_PRIVATE_KEY="<ZeroXKey API Private Key of the root user>"
ZEROXKEY_ORGANIZATION_ID="<ZeroXKey organization ID>"
ZEROXKEY_BASE_URL="https://api.0xkey.com"

NONROOT_USER_ID="<userId of the non-root user>"
NONROOT_API_PUBLIC_KEY="<API Public Key of the non-root user (that starts with 02 or 03)>"
NONROOT_API_PRIVATE_KEY="<API Private Key of the non-root user>"


SIGN_WITH="<ZeroXKey organization wallet Base address 0x...>"
RPC_URL="<RPC URL for Base mainnet>"

YIELD_ID="base-usdc-gtusdcf-0x236919f11ff9ea9550a4287696c2fc9e18e6e890-4626-vault"
YIELD_API_KEY="<Yield project API Key>"

USDC_ADDRESS="0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
gtUSDCf_VAULT_ADDRESS="0x236919F11ff9eA9550A4287696C2FC9e18E6e890"