API_PUBLIC_KEY="<ZeroXKey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<ZeroXKey API Private Key>"
BASE_URL="https://api.0xkey.com"
ORGANIZATION_ID="<ZeroXKey organization ID>"

SIGNER_ADDRESS="<ZeroXKey signer Doge address>"
SIGNER_ADDRESS_PUBKEY="<ZeroXKey signer Doge public key>"
DEST_ADDRESS="<destination_address>"