API_PUBLIC_KEY="<ZeroXKey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<ZeroXKey API Private Key>"
BASE_URL="https://api.0xkey.com"
ORGANIZATION_ID="<ZeroXKey organization ID>"
SIGN_WITH="<ZeroXKey Wallet Account Address, Private Key Address, or Private Key ID>" # if blank, we will create a wallet for you
ZERODEV_RPC="<Zerodev RPC URL>" # see https://dashboard.zerodev.app/
