NEXT_PUBLIC_ORGANIZATION_ID="<ZeroXKey organization ID>"
NEXT_PUBLIC_AUTH_PROXY_ID="<ZeroXKey Auth Proxy ID>"

NEXT_PUBLIC_BASE_URL="https://api.0xkey.com"
NEXT_PUBLIC_AUTH_PROXY_URL="https://authproxy.0xkey.com"

# Only needed if you're using WalletConnect (walletconnect.network)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID="<WalletConnect Project ID>"
NEXT_PUBLIC_WALLETCONNECT_PROJECT_URL="<WalletConnect Project URL>"