ZEROXKEY_API_PUBLIC_KEY="<ZeroXKey API Public Key (that starts with 02 or 03)>"
ZEROXKEY_API_PRIVATE_KEY="<ZeroXKey API Private Key>"
ZEROXKEY_BASE_URL="https://api.0xkey.com"
ZEROXKEY_ORGANIZATION_ID="<ZeroXKey organization ID>"

DELEGATED_API_PUBLIC_KEY="<Delegated API Public Key (that starts with 02 or 03)>"
DELEGATED_API_PRIVATE_KEY="<Delegated API Private Key>"
DELEGATED_SUBORG_ID="Delegated Sub-OrganizationId>"

RECIPIENT_ADDRESS="<Ethereum address 0x... allowed by the policy>"
DENIED_ADDRESS="<Ethereum address 0x...>"
SIGN_WITH="<Delegated account wallet Ethereum address 0x...>"