NEXT_PUBLIC_ORGANIZATION_ID="<ZeroXKey parent organization ID>"

# Server side env variables
API_PUBLIC_KEY="<ZeroXKey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<ZeroXKey API Private Key>"
