ZEROXKEY_API_PRIVATE_KEY="<ZeroXKey API Private Key>"
ZEROXKEY_ORGANIZATION_ID="<ZeroXKey organization ID>"
ZEROXKEY_ADDRESS="<ZeroXKey Wallet Account Address, Private Key Address, or Private Key ID>"
FOUNDRY_DISABLE_NIGHTLY_WARNING="true" # required until production release