API_PUBLIC_KEY="<ZeroXKey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<ZeroXKey API Private Key>"
BASE_URL="https://api.0xkey.com"
ORGANIZATION_ID="<ZeroXKey organization ID>"
SIGN_WITH_COMPRESSED="<ZeroXKey Wallet Account>" # if blank, we will create a BTC wallet for you
