API_PUBLIC_KEY="<ZeroXKey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<ZeroXKey API Private Key>"
NEXT_PUBLIC_ORGANIZATION_ID="<ZeroXKey organization ID>"
NEXT_PUBLIC_BASE_URL="https://api.0xkey.com"
NEXT_PUBLIC_RPC_SOL="<Solana Devnet RPC URL>"
NEXT_PUBLIC_RPC_ETH="<Ethereum Sepolia RPC URL>"