API_PUBLIC_KEY="<ZeroXKey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<ZeroXKey API Private Key>"
NEXT_PUBLIC_ORGANIZATION_ID="<ZeroXKey organization ID>"
NEXT_PUBLIC_BASE_URL="https://api.0xkey.com"
# Can be changed to a localhost iframe if you're modifying the export flow
# For production, the URL should not be changed and point to the primary ZeroXKey domain.
NEXT_PUBLIC_EXPORT_IFRAME_URL="https://export.0xkey.com"
NEXT_PUBLIC_IMPORT_IFRAME_URL="https://import.0xkey.com"
