NEXT_PUBLIC_BASE_URL="https://api.0xkey.com"
NEXT_PUBLIC_AUTH_PROXY_URL="https://authproxy.0xkey.com"
NEXT_PUBLIC_EXPORT_AND_SIGN_IFRAME_URL="https://export-and-sign.0xkey.com"

NEXT_PUBLIC_ORGANIZATION_ID="<your-organization-id>"
NEXT_PUBLIC_AUTH_PROXY_ID="<your-auth-proxy-id>"